/* Configuracion general de la pagina */
body {
  overflow-x: hidden;
  // height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-image: url("../images/fotos/Home/imagenes/BACKGROUND.png");
  
}
.opciones{
  display:flex;
  flex-direction: row;
  color:white;
  gap: 4rem;
  position: absolute;
  left: 39%;
  top: 6%;
  font-size:19px;
 h3 a{
    color: white;
    text-decoration: none;  
    left: 6%;
    top: 10%;
    font-size:19px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
}
.direeciones{
  position: relative;
  color: whithe;
  padding:0 15px;
  cursor:pointer;
  transition: color 0.3s ease;
  h3 a{
    position: relative;
    top: 1rem;

  }
  &:hover{
    transform: scale(1);
  }
  &:not(:last-child)::after { 
    content: ''; // Obligatorio para pseudo-elementos
    position: absolute;
    right: 0; // Posiciona la línea en el borde derecho del h3
    top: 50%; // Centra verticalmente
    transform: translateY(-50%); // Ajusta para un centrado perfecto
    width: 3px; // Grosor de la línea
    height: 90%; // Altura de la línea (ajusta este porcentaje si quieres que sea más larga/corta)
    background-color: #4da3cf; // Color de la línea
    margin-right:  -20px ;
}
}
.desktop-nav-header{
  &.active { 
    color: white;
    padding-bottom: 5px; // Espacio para el subrayado activo
    &::after { // Pseudo-elemento para el subrayado del activo
        content: '';
        display: block;
        width: 103%; // Ajusta el largo del subrayado
        height: 3px;
        background-color: #ac4bc7;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 4px;
    }
  }
}

.media{
  width: 25%;
  position: absolute;
  top: -2.5rem;
  gap: 3px;
  left: 57rem;
  z-index: 2;
  display: flex;
  flex-direction: row;
  img{
      width: 12rem;
      height: auto;
      padding: 0.5rem;
  }
}


.footer2{
  width: 100%;
    position: absolute;
    height: 6rem; 
}

.navigation-container {
  width: 100%;
  height: 10rem;
  background-image: url("../images/fotos/Parques/imagenes/parte_superior.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  object-fit: contain;
  position: relative;
  z-index: 10;

  a {
    position: relative;
    top: 1.5rem;
    left: 3rem;
    width: 30rem;
    height: 6rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.sidebar-menu,
.overlay,.hamburger-menu  {
    display: none;
}



/* Estilos de la seccion de De Interés (FOOER) */
.footer {
  font-family: Arial, sans-serif;
  width: 100%;
  background-image: url("../images/fotos/Home/imagenes/BACK_PIE.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  //background-color: #f2f2f2;
  padding-top:3rem ;
  align-items: center;
  border-bottom: 18px solid #0a94ce;
}
.footer-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.footer-column {
  flex: 1;
  padding: 0 20px;
  flex-direction: row;
  ul { // Estilos para las listas dentro de las columnas
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    text-align: center;
    li {
        font-size: 20px;
        margin-bottom: 8px; // Espacio entre los ítems de la lista
        position: relative;
        text-decoration: underline;
        color: white;
        a {
            color: white;
            text-decoration: none;
            transition: color 0.3s ease;
            &:hover {
                color: #00eeffd3; // Color al pasar el ratón
                text-decoration: underline;
            }
        }
    }
}
h3{
  font-size: 25px;
  color: white;
  background-image: linear-gradient(#4da3cf, #4da3cf); /* Tu color */
  background-size: 54% 4px; /* ancho (largo) grosor (altura) */
  background-repeat: no-repeat;
  background-position: center bottom; 
  padding-bottom: 10px; /* Espacio para el subrayado */
  text-align: center;
  width: 100%;
  font-weight: bold;
}
p{
  text-align: center;
  font-size:18px;
  padding-top: 10px;
  margin: 10px;
}
a{
  color: #ffffff;
  text-decoration: none;
  &:hover{
    color: #00eeffd3;
    text-decoration: underline;
  }
}
}

/* Línea divisoria más gruesa */
.footer-column:not(:last-child) {
  border-right: 3px solid #ac4fc6; /* Aumenta el grosor aquí */
}

.starpark-logo{
  width: 50%;
  height: 50%;
  display: contents;
  img{
    width: 100%;
    height: auto;
  }
}
 /*Redes sociales*/
  .redes-sociales {
    display: flex;
    justify-content: center;
    flex-direction: column;
    h3{
      text-align: center;
      font-size: 25px;
      color: white;
      background-image: linear-gradient(#4da3cf, #4da3cf); /* Tu color */
      background-size: 54% 4px; /* ancho (largo) grosor (altura) */
      background-repeat: no-repeat;
      background-position: center bottom; 
      padding-bottom: 10px; /* Espacio para el subrayado */
    }
    a {
      width: 5rem;
      height: 5rem;
      margin-top: 0.9rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      transition: all 0.5s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .iconos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:1rem;
  }
/* Estilos whatsapp y dominik icon*/

.enlaces-derecha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: -40rem;
  right: 0.125rem;
  z-index: 5;

  i {
    display: none;
    top: 30rem;
    font-size: 4rem;
    padding-bottom: 2rem;
    filter: drop-shadow(0 0 10px rgb(93, 189, 204));
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);

    }
  }
  a img {
    margin-top: 0.625rem;
    width: 14rem;
    height: 12rem;
    filter: drop-shadow(0 0 10px rgb(93, 189, 204));
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);

    }

  }
}
/* Media query sólo para ajustes mínimos en pantallas muy pequeñas */
@media(min-width:320px) and (max-width:428px) {
  :root {
    font-size: calc(0.6vw + 0.6vh + 0.6vmin);
  }
  .footer-column{
    justify-content: space-between;
    text-align: center;
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
    }
    li{
      margin-bottom: 10px;
      font-size: 20px;
    }
    h3{
      font-size: 25px;
      color: white;
      background-image: linear-gradient(#4da3cf, #4da3cf); /* Tu color */
      background-size: 54% 4px; /* ancho (largo) grosor (altura) */
      background-repeat: no-repeat;
      background-position: center bottom; 
      padding-bottom: 10px; /* Espacio para el subrayado */
      text-align: center;
    }
    p{
      text-align: center;
      font-size:18px;
      padding-top: 10px;
    }
    a{
      color: #ffffff;
      text-decoration: none; // Quita el subrayado por defecto de los enlaces
        transition: color 0.3s ease; // Transición suave para el hover
        &:hover {
            color: #4da3cf; // Color azul al pasar el mouse
            text-decoration: underline; // Añade un subrayado al pasar el mouse si lo deseas
        }
    }
  }

  .footer-content{
    display: flex;
    flex-direction:column ;
    gap: 0rem;
  }
  .starpark-logo{
    width: 50%;
    height: 50%;
    display: contents;
    img{
      width: 100%;
      height: auto;
    }

  }
  .footer-column{
    h3{
      font-size: 25px;
      color: white;
      background-image: linear-gradient(#4da3cf, #4da3cf); /* Tu color */
      background-size: 54% 4px; /* ancho (largo) grosor (altura) */
      background-repeat: no-repeat;
      background-position: center bottom; 
      padding-bottom: 10px; /* Espacio para el subrayado */
      text-align: center;
    }
    p{
      text-align: center;
      font-size:18px;
      padding-top: 10px;
    }
    a{
      color: #ffffff;
    }
  }
  .navigation-container {
    a {
      left: 0;
      img {
        width: 70%;
        height: 100%;
      }
    }
  }

  .opciones{
    display: none;
  }


  .enlaces-derecha {
   
    position: relative; // Fija el aside en relación al viewport
    top: -68rem;       // Distancia desde el borde superior
    right: -33rem;     // Distancia desde el borde derecho
    width: 6rem;    // Ajusta el ancho del contenedor del astronauta si es necesario
    height: auto;    // Ajusta la altura del contenedor
    z-index: 100;    // Asegura que esté por encima de la mayoría de los otros elementos


    a.dominik-icon { // Usamos la clase específica para asegurar que es el astronauta
      position: static; // Vuelve a su posicionamiento normal dentro del aside
      display: block; // Asegura que el 'a' ocupe su propio espacio
      width: 100%; // Hace que el 'a' ocupe el ancho del aside
      height: 100%; // Hace que el 'a' ocupe la altura del aside
    }

    a.dominik-icon img {
 
      position: static; // Vuelve a su posicionamiento normal dentro del <a>
      left: auto;      // Desactiva 'left'
      top: auto;       // Desactiva 'top'

      width: 100%;     // Ocupa el 100% del ancho del 'a.dominik-icon'
      height: auto;    // Mantiene la proporción
      transition: all .3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  } 
 
  .redes-sociales {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    h3{
      font-size: 25px;
      color: white;
      background-image: linear-gradient(#4da3cf, #4da3cf); /* Tu color */
      background-size: 54% 4px; /* ancho (largo) grosor (altura) */
      background-repeat: no-repeat;
      background-position: center bottom; 
      padding-bottom: 10px; /* Espacio para el subrayado */
    }

    a {
      width: 5rem;
      height: 5rem;
      margin-top: 0.9rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      transition: all 0.5s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .iconos{
    flex-direction: row;
    display:flex;
    gap:2rem;
    position: relative;
    top:-2rem;
    justify-content: center;
  }
  .hamburger-menu {
    margin: 1rem 1rem 0 0;
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 10;
    .desktop-nav-header{
      &.active { 
        color: white;
        padding-bottom: 5px; // Espacio para el subrayado activo
        &::after { // Pseudo-elemento para el subrayado del activo
            content: '';
            display: block;
            width: 103%; // Ajusta el largo del subrayado
            height: 3px;
            background-color: #ac4bc7;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 4px;
        }
      }
    }
    i {
      color: #ffffff;
      font-size: 3rem;
    }
  }
  
  /* Menu lateral */
  .sidebar-menu {
    position: fixed;
    width: 15.625rem;
    height: 100vh;
    top: 0;
    right: -100%;
    background-color:#231884 ;
    //background: linear-gradient(90deg, rgba(22, 82, 149, 1) 0%, rgba(22, 82, 149, 1) 26%, rgba(10, 148, 206, 1) 100%);
    z-index: 15;
    transition: 0.3s ease;
    padding-top: 3.75rem;
  
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    li {
      padding: 15px 25px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
  
    a {
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
      display: block;
  
      &:hover {
        color: #00ffff;
  
      }
    }
  }
  
  .sidebar-menu.active {
    right: 0;
  }
  
  .close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    cursor: pointer;
  
    i {
      color: #ffffff;
      font-size: 2rem;
    }
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
  }
  
  .overlay.active {
    display: block;
  }
}
@media (width: 950px) {
  :root {
    font-size: calc(0.6vw + 0.6vh + 0.6vmin);
  }

  .navigation-container {
    a {
      left: 0;
      img {
        width: 70%;
        height: 100%;
      }
    }
  }

  .enlaces-derecha {
    position: fixed; // Fija el aside en relación al viewport
    top: 1rem;       // Distancia desde el borde superior
    right: 1rem;     // Distancia desde el borde derecho
    width: 10rem;    // Ajusta el ancho del contenedor del astronauta si es necesario
    height: auto;    // Ajusta la altura del contenedor
    z-index: 100;    // Asegura que esté por encima de la mayoría de los otros elementos

  
    a.dominik-icon { // Usamos la clase específica para asegurar que es el astronauta
      position: relative; // Vuelve a su posicionamiento normal dentro del aside
      display: block; // Asegura que el 'a' ocupe su propio espacio
      width: 100%; // Hace que el 'a' ocupe el ancho del aside
      height: 100%; // Hace que el 'a' ocupe la altura del aside
    }

    a.dominik-icon img {
      // **CLAVE:** Resetear los estilos de posicionamiento anteriores
      position: static; // Vuelve a su posicionamiento normal dentro del <a>
      left: auto;      // Desactiva 'left'
      top: auto;       // Desactiva 'top'

      width: 100%;     // Ocupa el 100% del ancho del 'a.dominik-icon'
      height: auto;    // Mantiene la proporción
      filter: drop-shadow(0 0 10px rgb(93, 189, 204));
      transition: all .3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .footer {
    gap: 0.5rem;
  }
  .footer li {
    margin: 0.1rem 0;
  }
  .footer .redes-sociales a {
    width: 5.5rem;
    height: 0rem;
    margin-top: 0.9rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1000px) {
  .footer {
  gap: 10rem;
}
.footer li {
  margin: 0.5rem 0;
}
.footer .redes-sociales a {
  width: 5rem;
  height: 5rem;
}
}
  


/* Media query para pantallas grandes */
// @media (max-width: 1280px) {
//   :root {
//     font-size: calc(0.4vw + 0.4vh + 0.4vmin);
//   }
//   .enlaces-derecha{
//     bottom: -19rem;
//     right: 9.125rem;
//   }
//  .opciones{
//   gap: 1.3rem;
//   left: 44%;
//   top: 16%;
//  }
//  .media{
//   top: -1.8rem;
//   gap: 3px;
//   left: 46rem;
//  } 
 
 
// }
    

@media (max-width: 768px) {
  .navigation-container .direeciones {
    display: none;
  }
  .cc-parques .location-section {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
  .hamburger-menu {
    display: flex;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 20;
  }
  .sidebar-menu {
    display: block;
    max-width: 320px;
    right: -100%;
    top: 0;
    padding-top: 4rem;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
  }
  .sidebar-menu.active {
    right: 0;
  }
  .close-btn {
    top: 1.5rem;
    right: 1.5rem;
  }
  .overlay {
    display: none;
  }
  .overlay.active {
    display: block;
  }
}
/*@media(max-width:834px){
  .navigation-container{
    .direeciones{
      display: none;
    }
    .media{
      left: 7rem;
      width: 15rem;
      height: auto;
    }
  }
  .hamburger-menu {
    margin: 1rem 1rem 0 0;
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 10;
    .desktop-nav-header{
      &.active { 
        color: white;
        padding-bottom: 5px; // Espacio para el subrayado activo
        &::after { // Pseudo-elemento para el subrayado del activo
            content: '';
            display: block;
            width: 103%; // Ajusta el largo del subrayado
            height: 3px;
            background-color: #ac4bc7;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 4px;
        }
      }
    }
    i {
      color: #ffffff;
      font-size: 3rem;
    }
  }
  
  /* Menu lateral 
  .sidebar-menu {
    position: fixed;
    width: 15.625rem;
    height: 100vh;
    top: 0;
    right: -100%;
    background-color:#231884 ;
    //background: linear-gradient(90deg, rgba(22, 82, 149, 1) 0%, rgba(22, 82, 149, 1) 26%, rgba(10, 148, 206, 1) 100%);
    z-index: 15;
    transition: 0.3s ease;
    padding-top: 3.75rem;
  
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    li {
      padding: 15px 25px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
  
    a {
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
      display: block;
  
      &:hover {
        color: #00ffff;
  
      }
    }
  }
  
  .sidebar-menu.active {
    right: 0;
  }
  
  .close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    cursor: pointer;
  
    i {
      color: #ffffff;
      font-size: 2rem;
    }
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
  }
  
  .overlay.active {
    display: block;
  }
  .enlaces-derecha{
    bottom: 29rem;
    a{
    img{
      width: 12rem;
      height: auto;

    }
  }

  }
}*/
@media(width:428px) {
  .enlaces-derecha{
    top: -73rem;
    right: -33rem;
  }  
}