.contact-space-background {
    background-image: url("../images/fotos/contactos/imagenes/fondo.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    color: white;
}

// Caja main
.contact-panel {
    padding-top: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 203vh;

    /* Sección título */
    .informacion-contacto {
        width: 100%;
        position: relative;
        top: -4rem;
        // background-color: rgba(253, 253, 253, 0.537);

        .info-container {
            background-color: transparent;

            /* Monitor con información */
            .monitor-container {
                position: relative;
                width: 100%;
                height: 100%;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: 80%;
                    object-fit: fill;
                    position: relative;
                    top: -10rem;
                }
                .escribenos{
                    position: absolute;
                    width: 80%;
                    height: 80%;
                    top:20rem;
                    left:58rem;
                    h3{
                        left: 11rem;
                        position: relative;
                    }
                    img{
                        width: 30%;
                        height: auto;
                        position: absolute;
                        top: 2.5rem;
                        left: 8rem;
                    }
                    .redes-sociales-contacto{
                    position: absolute;
                    width: 19vw;
                    height: 19vh;
                    h3{
                        position: relative;                                                                         
                        top: 10rem;
                        left: 21rem;
                    }
                    img{
                        width: 27vw;
                        height: auto;
                        top: 7rem;
                    }    
                    }
                }

                .screen-overlay {
                    // background-color: rgba(245, 245, 220, 0.267);
                    position: absolute;
                    top: 21%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 80%;
                    height: 40%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    
                }
            }
        }
    }


    /* Banner trabaja con nosotros */
    .trabaja-con-nosotros {
        width: 100%;
        height: 1rem;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;

        .contact-trabaja-banner {
            width: 100%;
            position: relative;
            left: 41px;
            top: -8rem;
            // height: 100%;
        }
    }

    .formulario-contacto {
        width: 100%;

        /* Sección del formulario */
        .main-contact-form {
            position: relative;
            width: 100%;
            background-color: #08f4fc;

            .contact-form-bgImage {
                width: 100%;
                bottom: 0;
            }

            .contact-form-container {

                .contact-form {
                    
                    position: absolute;
                    top: -1rem;
                    left: 35%;
                    // transform: translateX(-50%);
                    width: 35%;

                    .contact-form-input {
                        margin-bottom: 1rem;

                        .contact-input-icon {
                            position: relative;
                            display: flex;
                            align-items: center;

                            i {
                                position: absolute;
                                left: 0.625rem;
                                margin: 1rem;
                                font-size: 1.5rem;
                                /* Aumentado de tamaño */
                                width: 2rem;
                                /* Ancho fijo para el icono */
                                text-align: center;
                                /* Centrar icono en su espacio */
                                color: rgb(255, 255, 255);
                                /* Mejor visibilidad */
                                z-index: 2;
                            }

                            input,
                            textarea {
                                width: 100%;
                                font-size: large;
                                padding: 2rem 0.9375rem 2rem 5rem;
                                background: linear-gradient(90deg,rgba(20, 48, 105, 0.84) 1%, rgba(16, 82, 132, 1) 37%, rgba(16, 81, 135, 1) 100%);
                                border: 0.3rem solid #19b0b7;
                                border-radius: 1rem;
                                color: white;
                                height: 0vh;
                            }

                            textarea {
                                height: 6.25rem;
                                resize: none;

                            }

                            label {
                                position: absolute;
                                font-size: medium;
                                left: 5rem;
                                color: rgba(255, 255, 255, 0.596);
                                transition: all 0.3s ease;
                                pointer-events: none;
                            }
                        }

                        input:focus+label,
                        input:valid+label,
                        textarea:focus+label,
                        textarea:valid+label {
                            top: -0.625rem;
                            left: 3rem;
                            font-weight: bold;
                            text-align: center;
                            font-size: 1em;
                            color: #00f7ff;
                            background: rgba(0, 20, 40, 0.8);
                            padding: 0.2rem 0.3125rem;
                            border-radius: 2rem;
                        }

                    }

                    .contact-form-terms {
                        margin: 1rem 0;
                        font-size: 1rem;
                        display: flex;
                        align-items: center;

                        input[type="checkbox"] {
                            /* Tamaño aumentado */
                            width: 1.5rem;
                            height: 1.5rem;
                            margin-right: 0.75rem;
                            cursor: pointer;
                            /* Estilo personalizado */
                            appearance: none;
                            -webkit-appearance: none;
                            background-color: #383c94;
                            border: 0.0625rem solid rgba(0, 247, 255, 0.5);
                            border-radius: 0.25rem;
                            position: relative;
                            outline: none;

                            /* Efecto al marcar el checkbox */
                            &:checked {
                                background-color: rgba(0, 247, 255, 0.3);
                                border-color: #00f7ff;

                                /* Icono de check personalizado */
                                &::before {
                                    content: '✓';
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    font-size: 1rem;
                                    color: #00f7ff;
                                    font-weight: bold;
                                }
                            }
                        }

                        a {
                            color: #07f7ff;
                            text-decoration: none;
                            font-weight: bolder;
                        }
                    }

                    .contact-register-btn {
                        width: 40%;
                        padding: 0.75rem;
                        background: transparent;
                        border: none;
                        color: white;
                        font-weight: bold;
                        border-radius: 1rem;
                        cursor: pointer;
                        text-transform: uppercase;
                        letter-spacing: 0.0625rem;
                        transition: all 0.3s ease-in-out;
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        /* Centrar el botón horizontalmente */
                        margin-left: auto;
                        margin-right: auto;

                        &:hover {
                            transform: scale(1.1);
                        }
                        img{
                            width:100% ;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}
.media-contacto{
    width: 27%;
    height: 40%;
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 1rem;
    h3{
        position: relative;
        top:1rem;
        left: 1rem;
    }
    a{ 
        position: relative;
        width: 100px;
        top: -19.6rem;
        left: 75.6rem;
        &:hover {
            transform: scale(1.1);
        }
    }
   
 
}
.nombres{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.email{
    width: 97%;
    height: 90%;
}
.info-complementaria{ 
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.comments{
    input{
        border-radius: 1rem;
    }
    width: 97%;
    height: 10%;
}
.equipo-star-park{
    text-align: center;
    h3{
        top: -1rem;
        left: 50rem;
    }
}
.footer-contact{
    position: absolute;
    top: 131rem;
    z-index: 5;
    width: 100%;
    height: 7%;
}

/* Media queries simplificadas */
@media (max-width: 768px) {
    .contact-panel {
        height: 150vh;
        /* Sección título */
        .informacion-contacto {
            .info-container {
                .monitor-container {
                    width: 100vw;
                    margin: 0 auto;
                    height: 60rem;
                    img{
                        width: 100%;
                        height: 50%;
                        top: 0rem;
                    }
                    .escribenos{
                        width: 50%;
                        height: 50%;
                        top: 13rem;
                        left: 10rem;
                        h3{
                            left: 14rem;
                        }
                        img{
                            width: 100%;
                            height: auto;
                            left: 13.5rem;
                        }
                        .redes-sociales-contacto{
                            width: 40vw;
                            h3{
                                top: 5rem;
                                left: 17.5rem;
                            }
                            img{
                                width: 47vw;
                                height: auto;
                                top: 3.5rem;
                            }
                        }
                    }
                }
            }
        }
        /* Banner trabaja con nosotros */
        .trabaja-con-nosotros {
            .contact-trabaja-banner {
                width: 100%;
                height: 14vh;
                left: 0rem;
                top: -28rem;
                // height: 100%;
            }
        }

        .formulario-contacto {
            width: 100%;
            position: relative;
            top: -29rem;
            
            .main-contact-form {
                overflow: hidden;
                height: 100vh;
                width: 100%;
                .contact-form-bgImage {
                    width: 150%;
                    height: 60rem;
                    transform: translateX(-18%); /* Desplazamos a la izquierda 1/4 del ancho */
                }

                .contact-form-container {

                    .contact-form {
                        top: -1rem;
                        left: 0rem;
                        // transform: translateX(-50%);
                        width: 100%;
                        height: 100vh;
                        .contact-form-input {
                            .contact-input-icon {
                                input,
                                textarea {
                                    width: 100%;
                                    font-size: large;
                                    padding: 0.5rem 0.9375rem 2rem 5rem;
                                    background: #383c94;
                                    border: 0.0625rem solid rgba(0, 247, 255, 0.842);
                                    border-radius: 1rem;
                                    color: white;
                                }
                            }
                        }
                        .contact-register-btn {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
    .media-contacto{
        a{
            width: 50%;
            height: 30%;
            left: 31rem;
            top: -5.2rem;
        }
    }
    .footer-contact{
        top: 79rem;
    }
}
@media (min-width:820) and (max-width:834px){
    .contact-panel{
        .informacion-contacto{
            .info-container{
                .monitor-container{
                    .escribenos{
                        top: 12rem;
                        left: 13rem;
                        .redes-sociales-contacto{
                            top:0.5rem;
                        }
                        h3{
                            left: 13.5rem;
                        }
                        img{
                            width: 60%;
                            left: 12rem;
                        }
                    }
                    img{
                        top: 0;
                    }
                }
            }
        }
    }
}
@media(max-width:420px){

 .contact-panel {
        height: 0vh;
        /* Sección título */
        .informacion-contacto {
            .info-container {
                .monitor-container {
                    width: 100vw;
                    margin: 0 auto;
                    height: 60rem;
                    img{
                        width: 100%;
                        height: 40%;
                        top: 0rem;
                    }
                    .escribenos{
                        h3{
                            left: 10rem;
                            width: 22rem;
                            font-size: 10px;
                        }
                        width: 52%;
                        height: 50%;
                        top: 9.5rem;
                        left: 8.5rem;
                        img{
                            width: 100%;
                            height: auto;
                            left: 11rem;
                        }
                        .redes-sociales-contacto{
                            width: 40vw;
                            h3{
                                top: 5rem;
                                left: 16.8rem;
                            }
                            img{
                                width: 47vw;
                                height: auto;
                                top: 3.5rem;
                            }
                        }
                    }
                }
            }
        }
        /* Banner trabaja con nosotros */
        .trabaja-con-nosotros {
            .contact-trabaja-banner {
                width: 100%;
                height: 14vh;
                left: 0rem;
                top: -31rem;
                // height: 100%;
            }
        }

        .formulario-contacto {
            .main-contact-form {
                overflow: hidden;
                .contact-form-bgImage {
                    width: 150%;
                    height: 60rem;
                    transform: translateX(-18%); /* Desplazamos a la izquierda 1/4 del ancho */
                }

                .contact-form-container {

                    .contact-form {
                        top: 5%;
                        left: 25%;
                        // transform: translateX(-50%);
                        width: 55%;
                        height: 100%;
                        .contact-form-input {
                            .contact-input-icon {
                                input,
                                textarea {
                                    width: 100%;
                                    font-size: large;
                                    padding: 0.5rem 0.9375rem 2rem 5rem;
                                    background: #383c94;
                                    border: 0.0625rem solid rgba(0, 247, 255, 0.842);
                                    border-radius: 1rem;
                                    color: white;
                                }
                            }
                        }
                        .contact-register-btn {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
    .media-contacto{
        a{
            width: 50%;
            height: 30%;
            left: 26rem;
            top: -4.01rem;
        }
    }
    .footer-contact{
        top: 79rem;
    }
}
