.body{
  background-image: url("../images/fotos/Home/imagenes/BACKGROUND.png");
}
.fondo-header{
  width: 100%;
  height: 4.5rem;
  img{
    width: 100%;
  }
}
.social-media{
  width: 100%;
  position: absolute;
  top: 1.8rem;
  left: 100rem;
  z-index: 2;
  img{
      width: 4rem;
      height: auto;
      padding: 0.5rem;
  }
}
.index-space-background {
  background-color: #344ca0;
}

/* Estilos del header */
.background-header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100rem;
  background-image: url("../images/fotos/Home/imagenes/centro_de_control.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-position: center;

  /* Estilos del logo centrado */
  .logo-container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 40vw;
      height: 14vh;
      position: relative;
      // left: -1.6%;
    }
  }
}

/* Estilos del video centrado */
.inicio-video-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translatex(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;

  video {
    position: relative;
    left: 2.5%;
    z-index: 0;
    width: 58vw;
    height: 72vh;
    top:-10rem;
  }
}

/* Estilos de los botones de navegacion */
.nav-container {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;

  a img {
    
    
    width: 18rem;
    height: 9.5rem;
    position: relative;
    left: 1.5rem;
    top: -1rem;
    border-radius: 40%;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);

    }
  }

  .button-center {
    border-radius: 0.313rem;
    margin-top: -4%;
  }
}

/* Estilos de carousel-container */
.carousel-container {
  background-image: url("../images/fotos/Home/imagenes/BACKGROUND.png");
  margin-top: 0;
  padding-bottom: 5rem;
  height: 100%;
  width:100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
  .title-novedades {
    position: static;
    width: 100%;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    img {
      position: absolute;
      top: 97rem;
      width: 100%;
      max-width: 100%;
      margin: 0;
      display: block;
      z-index: 1;
    }
  }
  .carousel {
    top: 20rem;
    width: 100vw;
    /*Se puede ajustar el tama침o del container para las tarjetas*/
    height: 50rem;
    position: relative;
    perspective: 62.5rem;
    // background-color: #000000c0;
    border-radius: 1.25rem;
    overflow: hidden;

    .carousel-items {
      width: 100%;
      height: 42rem;
      position: relative;
      transform-style: preserve-3d;
      transition: transform 0.6s ease-out;
    }

    // Contenedor de las publicaci칩nes en el carrusel
    .carousel-item {
      position: absolute;
      width: 23rem;
      height: 90%;
      top: 5%;
      bottom: 5%;
      left: 0;
      right: 0;
      margin: auto;
      background: #410645;
      border-radius: 2rem;
      box-shadow: 0 .8px 1.875rem rgba(86, 204, 186, 0.5);
      opacity: 0;
      overflow: hidden;
      transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
      transform: scale(0.8) translateY(0) translateZ(-400px);
      z-index: 0;
      object-fit: contain;

      .instagram-media {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 2rem;
      }
    }

    .carousel-item.active {
      opacity: 1;
      transform: scale(1) translateX(0) translateY(0) translateZ(0);
      z-index: 5;
      box-shadow: 0 1rem 1rem rgba(56, 236, 236, 0.568);
    }

    .carousel-item.prev {
      opacity: 0.7;
      transform: scale(0.85) translateX(-90%) translateY(0) translateZ(-6.25rem);
      z-index: 2;
    }

    .carousel-item.next {
      opacity: 0.7;
      transform: scale(0.85) translateX(90%) translateY(0) translateZ(-6.25rem);
      z-index: 2;
    }

    .carousel-item.far-prev {
      opacity: 0.3;
      transform: scale(0.7) translateX(-180%) translateY(0) translateZ(-12.5rem);
      z-index: 1;
    }

    .carousel-item.far-next {
      opacity: 0.3;
      transform: scale(0.7) translateX(180%) translateY(0) translateZ(-12.5rem);
      z-index: 1;
    }

    .carousel-item.back {
      opacity: 0.3;
      transform: scale(0.6) translateY(10%) translateZ(-18.75rem);
      z-index: 0;
    }

    .carousel-controls {
      position: relative;
      bottom: 6rem;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30rem; 
     

      .carousel-prev,
      .carousel-next {
        width: 2rem;
        height: 5rem;
        background: transparent;
        border: none;
        cursor: pointer;
        box-shadow: 0 0.125rem .9rem, rgb(255, 0, 0);
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background: transparent;
          transform: scale(1.1);
        }
        img{
          height:14vh ;
          position: relative;
          top:-454%;
          box-shadow: 0 0.125rem .9rem, rgb(99, 181, 192);
        }
      }

      .carousel-indicators {
        display: flex;
        gap: 10px;

        .indicator {
          width: 12px;
          height: 12px;
          background: rgb(149, 160, 160);
          border-radius: 50%;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &.active {
            background: rgb(59, 255, 255);
            transform: scale(1.2);
          }
        }


      }
    }
  }
}
.sedes {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
    top: 12rem;
    z-index: 1;
    margin-bottom: 2rem;
  }
}
.mapa {
  rotate: -2.5deg;
  width: 102%;
  display: flex;
  justify-content: center;
  iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 144rem;
    margin: 0 auto;
    display: block;
  }
}


/* Media queries optimizadas */
@media (max-width:1366px){
.fondo-header{
  width: 100%;
  height: 4.5rem;
  img{
    width: 100%;
  }
}

}
@media (width: 1400px) {
  .background-header .logo-container img {
    width: 40vw;
    height: 11vh;
    left: -2rem;
    position: relative;
  }
  .nav-container {
    gap: 0.5rem;
    top: 52.5%;
    a img {
      width: 18rem;
      height: 7.5rem;
      position: relative;
      left: 1rem;
      top: 0.5rem;
    }
  }

  .inicio-video-container {
    top: 13%;

    video {
      width: 65vw;
      height: 72vh;
    }
  }
}

@media (min-width: 320px) and (max-width:420px)  and (max-height: 844px) {
  
  .fondo-header{
    width: 100%;
    height: 4.5rem;
    img{
      width: 100%;
    }
  }
  .social-media{
    width: 100%;
    top: -0.2rem;
    left: 24rem;
    display: none;
    img{
        width: 4rem;
        height: auto;
        padding: 0.5rem;
    }
  }
  .index-space-background {
    background-color: #344ca0;
  }
  
  /* Estilos del header */
  .background-header {
    position: relative;
    overflow: hidden;
    z-index: 1;
    transform: scale(1,1.5);
    width: 100%;
    height: 30rem;
    background-image: url("../images/fotos/Home/imagenes/centro_de_control.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-position: center;
  
    /* Estilos del logo centrado */
    .logo-container {
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
  
      img {
        width: 100%;
        height: 100%;
        position: relative;
        // left: -1.6%;
      }
    }
  }
  
  /* Estilos del video centrado */
  .inicio-video-container {
    position: absolute;
    top: 27%;
    left: 25%;
    transform: translatex(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    width: 100%;
    object-fit: cover;
  
    video {
      position: relative;
      top: -15.5rem;
      left: 26%;
      height: 31vw;
      object-fit: cover;
      width: 32vh;
    }
  }
  
  /* Estilos de los botones de navegacion */
  .nav-container {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  
    a img {     
      transform: scale(1.2); //agranda los botones
      width: 100%;
      height: 2.85rem;
      position: relative;
      left: 0.3rem;
      top: -0.2rem;
      border-radius: 40%;
      transition: transform 0.3s ease-in-out;
  
      &:hover {
        transform: scale(1.1);
  
      }
    }
  
    .button-center {
      border-radius: 0.313rem;
      margin-top: -4%;
    }
  }
  
  /* Estilos de carousel-container */
  .carousel-container {
    width: 100%;
    height: 75rem;
    background-image: url("../images/fotos/Home/imagenes/BACKGROUND.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    object-fit: cover;
    object-position: center;
    margin-top: -15rem;
    margin-bottom: 0rem;
    padding-bottom: 20rem;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    // img novedades
    .title-novedades {
  
      position: absolute;
      width: 100%;
      z-index: 10;
      background-position: center;
      background-repeat: no-repeat;
      object-fit: cover;
      display: flex;
      justify-content: center;
      align-items: center;
  
      img {
        position:relative;
        top:-11rem;
        width: 100%;
      }
    }
  
    // Todo el contenido de carousel
    .carousel {
      top: 20rem;
      width: 100vw;
      /*Se puede ajustar el tama침o del container para las tarjetas*/
      height: 50rem;
      position: relative;
      perspective: 62.5rem;
      // background-color: #000000c0;
      border-radius: 1.25rem;
      overflow: hidden;
  
      .carousel-items {
        width: 100%;
        height: 42rem;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.6s ease-out;
      }
  
      // Contenedor de las publicaci칩nes en el carrusel
      .carousel-item {
        position: absolute;
        width: 23rem;
        height: 90%;
        top: 5%;
        bottom: 5%;
        left: 0;
        right: 0;
        margin: auto;
        background: #410645;
        border-radius: 2rem;
        box-shadow: 0 .8px 1.875rem rgba(86, 204, 186, 0.5);
        opacity: 0;
        overflow: hidden;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        transform: scale(0.8) translateY(0) translateZ(-400px);
        z-index: 0;
        object-fit: contain;
  
        .instagram-media {
          width: 100%;
          height: 100%;
          border: none;
          border-radius: 2rem;
        }
      }
  
      .carousel-item.active {
        opacity: 1;
        transform: scale(1) translateX(0) translateY(0) translateZ(0);
        z-index: 5;
        box-shadow: 0 1rem 1rem rgba(56, 236, 236, 0.568);
      }
  
      .carousel-item.prev {
        opacity: 0.7;
        transform: scale(0.85) translateX(-90%) translateY(0) translateZ(-6.25rem);
        z-index: 2;
      }
  
      .carousel-item.next {
        opacity: 0.7;
        transform: scale(0.85) translateX(90%) translateY(0) translateZ(-6.25rem);
        z-index: 2;
      }
  
      .carousel-item.far-prev {
        opacity: 0.3;
        transform: scale(0.7) translateX(-180%) translateY(0) translateZ(-12.5rem);
        z-index: 1;
      }
  
      .carousel-item.far-next {
        opacity: 0.3;
        transform: scale(0.7) translateX(180%) translateY(0) translateZ(-12.5rem);
        z-index: 1;
      }
  
      .carousel-item.back {
        opacity: 0.3;
        transform: scale(0.6) translateY(10%) translateZ(-18.75rem);
        z-index: 0;
      }
  
      .carousel-controls {
        position: relative;
        bottom: 6rem;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30rem; 
        display: none;
       
  
        .carousel-prev,
        .carousel-next {
          width: 2rem;
          height: 5rem;
          background: transparent;
          border: none;
          cursor: pointer;
          box-shadow: 0 0.125rem .9rem, rgb(255, 0, 0);
          transition: all 0.3s ease;
          display: flex;
          align-items: center;
          justify-content: center;
  
          &:hover {
            background: transparent;
            transform: scale(1.1);
          }
          img{
            height:15vh ;
            box-shadow: 0 0.125rem .9rem, rgb(99, 181, 192);
          }
        }
  
        .carousel-indicators {
          display: flex;
          gap: 10px;
  
          .indicator {
            width: 12px;
            height: 12px;
            background: rgb(149, 160, 160);
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
  
            &.active {
              background: rgb(59, 255, 255);
              transform: scale(1.2);
            }
          }
  
  
        }
      }
    }
  }
  .sedes{
    width: 100%;
    height: auto;
  
    iframe{
      position: relative;
      top:26rem;
      width: 100%;
    }
    img{
    width: 100%;
    height: 8vh;
    position: relative;
    top:30.5rem;
    z-index:1;
  }
}
.footer2{    
   
  position: absolute;
  top:82rem;
  transform: rotate(2.1deg);
  img{
    width: 100%;
    position: absolute;
    top: 1rem;
  } 
}

}

@media (max-width: 900px) {
  .carousel-container {
    padding-bottom: 2rem;
    .title-novedades img {
      max-width: 90vw;
      width: 100%;
    }
    .carousel {
      max-width: 98vw;
      height: 28rem;
    }
  }
  .sedes {
    img {
      max-width: 90vw;
      margin-bottom: 1rem;
    }
  }
  .mapa {
    iframe {
      max-width: 95vw;
      height: 250px;
    }
  }
}
@media (max-width: 600px) {
  .carousel-container {
    padding-bottom: 1rem;
    .title-novedades {
      margin-bottom: 1rem;
      img {
        max-width: 100%;
        width: 100%;
      }
    }
    .carousel {
      max-width: 100vw;
      height: 16rem;
    }
  }
  .sedes {
    margin-top: 1rem;
    img {
      max-width: 100%;
      margin-bottom: 1rem;
    }
  }
  .mapa {
    iframe {
      max-width: 110%;
      height: 110%;
      left:-2%;
    }
  }
}

